apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: devops
  labels:
    role: frontend
    env: dev
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec:
      imagePullSecrets:
      - name: ecr-registry-secret
      containers:
      - name: frontend
        # Matches your Jenkins Pipeline image name
        image: 337909737467.dkr.ecr.us-east-1.amazonaws.com/devops-frontend:3
        imagePullPolicy: Always
        env:
          - name: REACT_APP_BACKEND_URL
            value: "/api/tools"
        ports:
        - containerPort: 80
